* {
    margin: 0;
    padding: 0;
}

.clear-fix:after {
    content: '';
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0;
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    float: left;
}


/* 头部 */

.wrap {
    border-bottom: 1px solid #D0D0D0;
    box-shadow: 0px 2px 5px #cccccc;
}

.header {
    width: 1000px;
    margin: 0 auto;
    background: url(./img/search.png) no-repeat 897px 26px;
    border-bottom: 1px #DDDDDD so;
}

.header>.logonew {
    float: left;
}

.header>.logonew>img {
    width: 134px;
    height: 52px;
    margin-top: 11px;
}

.header>ul {
    margin-left: 65px;
}

.header>ul>li {
    float: left;
    margin-right: 51px;
    line-height: 74px;
    /* font-size: 14px;
    font-weight: bold; */
}
.h-btn {
    margin-top: 21px;
    color: #FD4500;
    border: 1px solid #FD4500;
    width: 50px;
    height: 30px;
    float: right;
    border-radius: 5px;
    background-color: white;
}

/* 内容 */
/* .content-header{
    margin: 0 auto;
    width: 1000px;
}
.find{
    width: 100%;
    height: 125px;
    text-align: center;
    line-height: 125px;
    font-size: 30px;
}
.content-list{
    width: 100%;
    height: 40px;
    padding-left: 252px;
}
.content-list span{
    font-size: 20px;
    width: 165px;
    display: block;
    float: left;
    text-align: center;
    height: 40px;
    line-height: 40px;
    
}
.content-list span:nth-of-type(2){
    border-bottom: 3px #F8572B solid;
    color: #EC4E33;

} */

/* 内容区 */
.content{
    width: 100%;
    /* margin: 0 auto; */
    background-color: #F7F7F7;
    
}
.content-link{
    width: 1000px;
    height: 20px;
    line-height: 20px;
    margin: 0 auto;
    color: #B6B6BA;
    font-size: 12px;
}
.content-link span{
    margin-right: 5px;
}

.content-box{
    width: 1000px;
    /* float: left; */
    background-color:  #F7F7F7;
    margin:0 auto;
}
.content-left{
    float: left;
    width: 700px;
    background-color: white;
    border-radius: 8px 8px;
}
.content-title{
    height: 125px;
    
    width: 100%;
    border-bottom: 1px #B6B6BA solid;
}
.content-title h1{
     margin-top: 35px;
     font-size: 26px;
     margin-left: 25px;
     margin-bottom: 25px;
}
.content-title p{
    margin-left: 25px;
    font-size: 12px;
    color: #B6B6BA;
}
.content-title p span:nth-of-type(2){
    float: right;
    margin-right: 25px;
}
.contents{
    width: 100%;
    /* padding: 25px; */
    background-color: white;
    padding-bottom: 40px;
}
.contents p{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 28px;
    margin-top: 8px;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 2px;
    
}
.contents h3{
    text-align: center;
}
.contents div{
    text-align: center;
}
/* .content-name{
    margin-bottom: 3px;
} */
.last{
    color: #A5A5A5;
    font-size: 13px;
    margin-left: 25px;
    margin-top: 60px;
    margin-bottom: 10px;
}
.next{
    color: #A5A5A5;
    font-size: 13px;
    margin-left: 25px;
    /* margin-bottom: 40px; */

}

.content-right{
    width: 270px;
    height: 110px;
    float: right;
    background-color: white;
    border-radius: 6px 6px;
}
.content-right div div{
    width: 100%;
    text-align: center;
    margin-top: 28px;  
}
.content-right div div img{
    width: 22px;
    height: 22px;
}
.contents div:hover{
    transition: all .8s ease-in-out .8s;
    transform: scale(1.1);
}
.content-right div p{
    width: 100%;
    text-align: center;
    font-size: 13px;
    margin-top: 15px;
    color: #A5A5A5;
}
.content-like{
    float: left;
    width: 134px;
    height: 100%;
    border-right: 1px solid #A5A5A5;
}
.content-share{
    float: left;
    width: 134px;
    height: 100%;
}


/* 底部 */
.footer {
    background-color: #505050;
}

.foot {
    width: 1000px;
    margin: 0 auto;
    height: 360px;
    padding-top: 40px;
    position: relative;
    color: gray;
}

.footer a {
    color: gray;
}

.f-icon {
    float: left;
    margin-left: 112px;
    position: relative;
}

.f-icon>img:nth-child(1) {
    width: 160px;
    height: 160px;
    margin-left: -20px;
}

.f-icon>img:nth-child(2) {
    position: absolute;
    top: 0px;
    left: 160px;
    margin-bottom: 20px;
}

.f-text {
    position: absolute;
    top: 60px;
    left: 160px;
    font-size: 11px;
    width: 120px;
}

.f-text>p:nth-child(2) {
    margin-top: 10px;
}

.f-content {
    float: right;
    position: absolute;
    top: 40px;
    left: 420px;
}

.f-content>li {
    float: left;
    font-size: 12px;
    margin-right: 20px;
}

.f-content>li>p:nth-child(1) {
    margin-bottom: 30px;
    font-size: 14px;
}

.f-content>li>p:nth-child(1)>a {
    color: white;
}

.f-content>li>p {
    margin-top: 5px;
}

.f-last {
    position: absolute;
    bottom: 20px;
    left: 436px;
    font-size: 12px;
}
#bt{
	position: absolute;
	right:10px;
    top: 700px;
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgb(red, green, blue);;
    color: #333333;
} 