.middle{
    width: 1000px;
    height: 130px;
    margin: 0px auto;
    text-align: center;
    position: relative;
}
.middle>h6{
    color: #686563;
    font-size: 38px;
}
.middle>ul{
    width: 498px;
    position: absolute;
    top: 86px;
    left: 248px;
}
.middle>ul>li{
    float: left;
    width: 166px;
    height: 40px;
    margin: 0px auto;
}
.middle>ul>li>a{
    margin-bottom: 15px;
    font-size: 16px;
    color: #d4cfcf;
}
.middle>ul>#red{
    
    border-bottom: 4px solid#fe8d77 ;
}
.middle>ul>#red>a{
   color: #fe8d77;
}
.imgs{
    margin: 0px auto;
    width: 100%;
    padding-bottom: 120px;
    /* height: 1300px; */
    background:#F7F7F7;
}
.imgs>div{
    width: 1000px;
    margin: 0px auto; 
}
.list{
    margin-top: 12px;
    width: 1000px;  
}
.list>li{
    border-radius: 10px;
    width: 219px;
    height: 233px;
    margin: 14px;
    float: left;
    background: #FFFFFF;
    border:1px solid #eef0ef;
    margin-bottom: 34px;
    position: relative;
}
.list>li:hover{
    transition: all .3s ease-in-out .3s;
    transform: scale(1.05);
}
.des{
    margin: 5px;
    margin-left:10px;
    font-size: 14px;
    color: #6A6D71;
}
.te{
    
    margin: 5px;
    margin-left:10px;
    font-size: 13px;
    color: #A4A4A5;
}
.pr{
  position: absolute;
  bottom: 20px;
  left: 10px;
    font-size: 12px;
    color: #FD6B55;
}
.list>li>img{
    height: 109.5px;
    width:219px;
    border-radius: 10px 10px 0 0;
     
}
.list>li>div{
    margin-top: 12px;
    /* margin-left: 10px;
    margin-right: 10px; */
    font-size: 12px;
    color: #494748;
}

.list>li>span{
    letter-spacing: 3px;
    position: absolute;
    bottom:15px;
    right: 10px;
    font-size: 13px;
    color: #dddddd;
}
/* 加载更多 */

.list1{
    margin-top: 12px;
    width: 1000px;  
}
.list1>li{
    border-radius: 10px;
    width: 219px;
    height: 233px;
    margin: 14px;
    float: left;
    background: #FFFFFF;
    border:1px solid #eef0ef;
    margin-bottom: 34px;
    position: relative;
}
.des{
    margin: 5px;
    margin-left:10px;
    font-size: 14px;
    color: #6A6D71;
}
.te{
    
    margin: 5px;
    margin-left:10px;
    font-size: 13px;
    color: #A4A4A5;
}
.pr{
  position: absolute;
  bottom: 20px;
  left: 10px;
    font-size: 12px;
    color: #FD6B55;
}
.list1>li>img{
    height: 109.5px;
    width:219px;
    border-radius: 10px 10px 0 0;
     
}
.list1>li>div{
    margin-top: 12px;
    /* margin-left: 10px;
    margin-right: 10px; */
    font-size: 12px;
    color: #494748;
}

.list1>li>span{
    letter-spacing: 3px;
    position: absolute;
    bottom:15px;
    right: 10px;
    font-size: 13px;
    color: #dddddd;
}


#pa{
    width: 1200px;
    height: 120px;
    position: relative;
}
#load{
    width: 160px;
    position: absolute;
    left: 682px;
    background: url(../css/img/more.png) 6px 8px   no-repeat;
    text-align: center;
    font-size: 15px;
    color: #f79c92;
    margin-top: 30px;
}
#load1{
    width: 120px;
    position: absolute;
    top:0px;
    left: 700px;
    background: url(../css/img/loading-icon.gif) -6px 0px   no-repeat;
    text-align: center;
    font-size: 15px;
    color: #f79c92;
    margin-top: 30px;
}

.flash:hover {
    animation: free 1s infinite;
}
@keyframes free{
    0%{
        opacity:1
    }
    25%{
        opacity: 0.5;
    }
    50%{
        opacity: 0.25;
    }
    75%{
        opacity: 0.5;
    }
    100%{
        opacity: 0.75;
    }
}
#bt{
	position: absolute;
	right:10px;
    top: 700px;
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: rgb(red, green, blue);;
    color: #333333;
}     
