
/* 内容区 */
.title{
     width: 1000px;
    height: 130px;
    margin: 0px auto;
    text-align: center;
    position: relative;

}
.title h1{
    color: #686563;
    font-size: 38px;
}
.title-list{
    width: 332px;
    position: absolute;
    top: 86px;
    left: 337px;
}
.title-list span{
    float: left;
    width: 166px;
    height: 40px;
    margin: 0px auto;
}
.title-light{
    color: #FD5238;
    border-bottom: 4px solid #FD5238;
}
.content{
    height: 100%;
    width: 100%;
    background-color: #F7F7F7;
    margin: 0 auto;
}
.content-box{
    margin: 0 auto;
    width: 1000px;
}
.content-left{
    float: left;
    width: 700px;
    margin-top: 25px;
}
.content-hidden{
    display: none;
}
.contents{
    width: 700px;
    height: 410px;
    border-radius: 8px 8px;
    position: relative;
    
}
.img{
    width: 700px;
    height: 410px; 
    border-radius: 8px 8px;    
}
.contents:hover{
    transition: all 1s ease 1s;
    transform: scale(1.1);

}
.img img{
    width: 700px;
    height: 410px;
    border-radius: 8px 8px;
}
.intro{
    position: absolute;
    height: 120px;
    bottom: 0px;
    width: 100%;
    background-color: white;
    opacity: 0.8;
}
.intro p{
    margin-top: 25px;
    margin-left: 22px;
    font-size: 16px;
    margin-bottom: 35px;
}
.information{
    float: left;
    margin-left: 22px;
}
.name{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    line-height: 22px;
}
.name img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 10px;
}
.time{
    margin-left: 10px;
    line-height: 22px;
    height: 22px;
}
.other{
    float: right;
    /* width: 60px; */
    margin-right: 25px;
    height: 22px;
    line-height: 22px
    /* height: 16px; */
}
.other div{
    height: 22px;
    line-height: 30px;
    float: left;
    font-size: 14px;
    margin-left:8px ;
}
.other div img{
    width: 13px;
    height: 13px;
    margin-right:5px ;
}
.other-report{
    margin-top: 12px;
    margin-bottom: 12px;
    width: 700px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 8px 8px;
    border: 1px solid #D0D0D0; 
    
}
.other-report a{
    color: #9F9B9C;
    font-size: 14px;
}

/* 右侧 */
.content-right{
    margin-top: 25px;
    float: right;
    width: 270px;
    background-color: #F7F7F7;
}
.right-top{
    width: 100%;
    height: 25px;
    margin-bottom: 20px;
    border-left: 6px solid #F75843;
    padding-left: 23px;
}
.right-img1{
    width: 100%;
    height: 165px;
}
.right-img1 img{
    width: 100%;
    height: 100%;
}
.content-right h4{
    margin-top: 20px;
    margin-bottom: 13px;
}
.content-right p{
    
    width: 100%;
    line-height: 22px;
    font-size: 14px;
    color: #9F9B9C;
}
.focus-top{
    margin-top: 65px;
    width: 100%;
    height: 25px;
    margin-bottom: 20px;
    border-left: 6px solid #F75843;
    padding-left: 23px;
}
.focus-box{
    width: 100%;
    height: 120px;
    border-radius: 8px 8px;
}
.focus-box img{
    width: 100%;
    height: 100%;
    border-radius: 8px 8px;
}



/* 底部 */
.footer {
    background-color: #505050;
}

.foot {
    width: 1000px;
    margin: 0 auto;
    height: 360px;
    padding-top: 40px;
    position: relative;
    color: gray;
}

.footer a {
    color: gray;
}

.f-icon {
    float: left;
    margin-left: 112px;
    position: relative;
}

.f-icon>img:nth-child(1) {
    width: 160px;
    height: 160px;
    margin-left: -20px;
}

.f-icon>img:nth-child(2) {
    position: absolute;
    top: 0px;
    left: 160px;
    margin-bottom: 20px;
}

.f-text {
    position: absolute;
    top: 60px;
    left: 160px;
    font-size: 11px;
    width: 120px;
}

.f-text>p:nth-child(2) {
    margin-top: 10px;
}

.f-content {
    float: right;
    position: absolute;
    top: 40px;
    left: 420px;
}

.f-content>li {
    float: left;
    font-size: 12px;
    margin-right: 20px;
}

.f-content>li>p:nth-child(1) {
    margin-bottom: 30px;
    font-size: 14px;
}

.f-content>li>p:nth-child(1)>a {
    color: white;
}

.f-content>li>p {
    margin-top: 5px;
}

.f-last {
    position: absolute;
    bottom: 20px;
    left: 436px;
    font-size: 12px;
}